@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: #fff;
  color: #2c2c2c;
  font-family: Roboto, sans-serif;
}

a, li{
  font-family: Roboto, sans-serif;
  font-weight: 600;
}

.logo-header img{
  width: 60px;
}

.header {
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0.5rem 2rem;
}

.nav-menu ul{
  display: flex;
  align-items: center;
}

.nav-menu li{
  margin-right: 1.5rem;
}

.nav-menu a:hover{
  color: #2128bd;
}

.nav-menu li:last-child{
  background-color: #2128bd;
  border: 2px solid #2128bd;
  color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 0.4rem;
}

.nav-menu li:last-child:hover{
  background: transparent;
  border: 2px solid #2128bd;
  color: #2128bd;
}

.slogan{
  padding: 30px 20px;
  height: 50px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
  font-size: 25px; 
  color:#2c2c2c;
  background-color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

span{
  color: #2128bd;
  font-size: 30px;
  font-weight: 800;

  &:hover{
    color:#868cf9;
  }
}

.carrusel{
  padding: 200px;
  text-align: center;
  background-color: #2128bd;
}

/*
.items{
  background: lightgray;
  display: grid;
  justify-content: space-around;
  min-height: 800px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 300px);
  gap : 170px;
  
}

.item{
  background-color: #bf03e9;
  border-radius: 10% ;
}
*/

.functions-container{
  height: 700px;
  display: flex;
  justify-content: space-between;
}

.info-container{
  background: #2128bd;
  width: 40%;
  max-height: 700px;
  padding-top: 5rem;
}

.info-tittle{
  height: 40%;
  display: flex;
  flex-direction: column;

  &.info-tittle h2{
    font-size: 35px;
    font-family:"Bricolage Grotesque", sans-serif;
    color:#fff;
    padding: 3rem;
    padding-bottom: 1rem;
  }
}

.download{
  padding-right: 5rem;
  display: flex;
  justify-content:end;
  

  &.download button{
    background-color: #fff;
    border: 3px solid #fff;
    color: #2128bd;
    height: 40px;
    width: 100px;
    border-radius: 0.4rem;
    font-family: Roboto, sans-serif;
    font-weight: 800;
    font-size: 18px;
  }
}

.info-container p{
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color:#fff;
  padding: 0 3rem 4rem;
}

.img-container{
  background: rgb(213 62 143);
  width: 60%;
  height: 700px;
  overflow: hidden;
  
  & .mockup-img img{
    height: 700px;
    width: 100%;
    object-fit: cover;
    display: block;
  }
}

.paginas{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: lightpink;
  height: 350px;
  place-items: center center;
}

.pag{
  background: lightseagreen;
  width: 450px;
  height: 300px;
  border-radius: 10%;
}

.bottom-app{
  text-align: center;
  height: 100px;
  background: lightgreen;
  margin: 0 auto;
}

/*
#boton{
  background-color: #fff;
  border: 3px solid #fff;
  color: #2128bd;
  height: 40px;
  width: 100px;
  padding: 0.25rem 0.75rem;
  border-radius: 0.4rem;
}
*/
.footer{
  background: lightsalmon;
  height: 100px;
}

.faq{
  height: 700px;
}
